@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #444444;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 30px;
	line-height: 1.7em;
}

h2 {
	line-height: 1.3em;
}

h3 {
	font-size: 22px;
	line-height: 1.3em;
	padding-bottom: 10px;
}

h3.card-header { 
	font-size: 18px;
	font-weight: bold;
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 30px;
}

.work, .home, .contact {
	overflow: hidden;
	position: relative;
}

.work::before,
.home::before,
.contact::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
	background-image: url("../images/mountain_sunset.jpg");
    background-repeat: no-repeat;
    background-position: 50% 30%;
	background-size: cover;
	
}

#heading {
	content:"";
	display:block;
	min-height: 340px;
	position: relative;
	width:100%;
	text-align:center;
	box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}

#heading h1 {
	font-size:64px;
	color:#fff;
	line-height:0.879em;
	text-shadow:0 1px 2px rgba(0,0,0,0.4);
	text-transform: capitalize;
	padding-bottom:20px;
	padding-top:120px;
}

#heading h2 {
	font-size:13px;
	color:#FFF;
	line-height:1em;
	letter-spacing:2px;
	text-transform:uppercase;
}

/*** section ***/
.section {
	padding-bottom: 50px;
}

.light-gray.section {
	background-color: #fafafa;
}

.section h2 {
	font-size: 40px;
	line-height: 44px;
	padding-bottom: 0;
	margin-bottom: 10px;
	color: #606060;
	margin-top: 40px;
	text-align: left;
}

.section h2.gray-bottom-border {
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.section h3.heading {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 30px !important;
	text-align: left;
}

.section h3.teal.heading {	
	color: #00796B;
}

.section h3.sub-heading {
	color: #606060;
	text-align: left;	
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	font-weight: 200;
}

.section h4 {
	font-weight: bold;;
}

.section h4.heading {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 30px !important;
	text-align: left;
}

.credits.section .row {
	margin-bottom: 30px;
}

.section p.gray-bottom-border {
	padding-bottom: 40px;
}

.section .text-intro {
	color: #606060;	
	font-size: 23px;
	line-height: 36px;
	text-align: left;
}

.section .body-text {
	color: #606060;	
	font-size: 20px;
	line-height: 32px;
	text-align: left;
}

.section .blurb-text {
	color: #606060;	
	font-size: 17px;
	line-height: 32px;
	text-align: left;
}

.section .instructions {
	color: #606060;	
	font-size: 16px;
	line-height: 24px;
	padding: 0;
	margin-bottom: 0;
	text-align: left;
}

.section ul.sources li {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 8px;
}

@media (min-width: 768px) {
	.section h2 {
		text-align: center;
	}

	.section h3.sub-heading {
		text-align: center;	
	}

	.section .text-intro {
		padding: 0;
		text-align: center;
	}

	.section .body-text {
		padding: 0;
	}

	.section .blurb-text {
		padding: 0;
	}

	.section .text-intro p {
		text-align: justify;
	}

	.section .instructions {
		text-align: justify;
	}
}


/* /* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, dfn, th, var {
	font-style:normal;
	font-weight:normal
}
caption, th {
	text-align:left
}

q:before, q:after {
	content:""
}
abbr, acronym {
	border:0
} 
::selection {
	color:#e00966;
}
::-moz-selection {
color:#e00966;
}

a, a:link {
	color:#e00966;
	text-decoration:none;
}
a:hover {
	color:#000;
}
 */

/* .more {
	background:url("../images/arrow.gif") no-repeat right 50%;
	padding-right:20px;
} 

#main-content, footer {
	margin: 0 auto;
	max-width: 950px;
}*/

header {
	width: 100%;
	height: 45px;
	margin-bottom: 40px;
	background: #1D1D1D;
	position: fixed;
	z-index: 999;
}

header .main-nav {
	margin-top: 10px;
	float: right;
}

header .main-nav li {
	display: inline-block;
	margin-right: 40px;
	list-style: none;
}

header .main-nav li a {
	color: #FFF;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

header .main-nav li a:hover, header .main-nav li a.active {
	color: #666;
}

/* #main-content .text-intro {
	border-bottom: 1px solid #e5e4e4;
	float: left;
	width:100%;
	padding:25px 0;
	margin-bottom:40px;
}
#main-content .text-intro h2 {
	font-size:40px;
	color:#606060;
	text-align:center;
} */

/* card */
h3.card-title, 
h3.card-title a {
	color: #00796B;
	font-size: 18px;
	font-weight: 500;
	min-height: 47px;
}

.h-100 a.screenshot {
	border-bottom: 1px solid rgba(0,0,0,0.125);
}

.h-100 a.screenshot .card-img-top {
	max-height: 230px;
}


/*** chart styles ***/
path.domain {
	stroke: #858585;
}

.tick line {
	stroke: #858585;
}

.map path {
	cursor: pointer;
}

.chart-label {
	fill: #5a5a5a;
	font-size: 20px;
}

.legend-label {
	font-size: 12px;
	font-weight: bold;
	fill: #5a5a5a;
}

.year-label {
	fill: #5a5a5a;
	font-size: 40px;
}

.age-label {
	fill: #5a5a5a;
	font-size: 20px;
	font-weight: 500;
}

/*** svg elements ***/
circle.circle {
	cursor: pointer;
}

/* footer */
footer {
	clear: both;
	border-top: 1px solid #e5e4e4;
	padding: 20px 0;
}

footer .copyright {
	float: left;
	margin-bottom: 30px;
}

footer .copyright a {
	color: #444444;
	font-weight: bold;
}

footer .copyright a:hover {
	color:#e00966;
}

#home-head {
	content:"";
	display:block;
	min-height:200px;
	width:100%;
	text-align:center;
	box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}

#home-head h1 {
	font-size:34px;
	color:#fff;
	line-height:0.879em;
	text-shadow:0 1px 2px rgba(0,0,0,0.4);
	text-transform:uppercase;
	padding-top:100px;
}

#home-head h1 span {
	color:#fff;
	display:block;
}

#contact-form {
	padding:0;
	overflow:hidden;
	width:95%;
	margin:0 auto;
	position:relative;
}
#contact-form textarea {
	font-weight:400;
	font-size:14px;
	resize:none;
	color:#4f4f4f;
	float:left;
	margin-top:0;
	width:400px;
	height:115px;
	margin-bottom:10px;
	padding:19px 13px 14px 50px;
	border:1px solid #f1f1f1;
	font-family:"Open Sans", sans-serif;
}
#contact-form #message {
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
}
#contact-form .text-input {
	font-weight:400;
	font-size:14px;
	float:right;
	display:block;
	width:355px;
	height:19px;
	color:#4f4f4f;
	padding:13px 13px 13px 51px;
	margin-bottom:20px;
	border:1px solid #f1f1f1;
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	font-family:"Open Sans", sans-serif;
}
#contact-form .btn-input {
	float:right;
	display:block;
	width:420px;
	height:82px;
	border:none;
	padding:0;
	margin:0;
	cursor:hand;
	font-size:20px;
	color:#FFF;
	background-color:#e00966;
	font-family:"Open Sans", sans-serif;
	transition:all 0.5s ease-in-out;
}
#contact-form .btn-input:hover {
	background-color:#e187ae;
	color:#FFF;
}
#contact-form .crayonico {
	position:absolute;
	left:15px;
	top:15px;
	background-image:url("../images/crayon.png");
	background-repeat:no-repeat;
	width:23px;
	height:23px;
}
#contact-form .emailico {
	position:absolute;
	left:495px;
	top:15px;
	background-image:url("../images/email.png");
	background-repeat:no-repeat;
	width:22px;
	height:16px;
}

/*** SART Live Birth Rate per Year ***/
#my_dataviz {
	margin-top: 40px;
	overflow-x: auto;
	text-align: center;
}

/*** credits ***/
.credits_screenshot {
	border: 1px solid rgba(0,0,0,0.125);
}

.acknowledge {
	font-size: 18px;
	font-weight: 400;
}

/*** misc styles ***/
.center {
	text-align: center;
}

.margin-bottom-25 {
	margin-bottom: 25px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px;
}

.padding-top-60 {
	padding-top: 60px;
}

@media (min-width: 768px) {
	.nopadding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.gray-bottom-border {
	border-bottom: 1px solid #e5e4e4;
	margin-bottom: 40px;
}


